.span6.offset3.well
  = form_for @service, :url => car_services_path(@service.car), :method => :post, :class => "form-horizontal" do |f|
    %fieldset
      %legend= "New service for #{@service.car.name}"

      %div{ :class => "control-group#{error_message_for_service_currency(@service).present? ? ' error' : ''}" }
        %label.control-label Total price (currency / value)
        .controls
          .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
            - Service::CURRENCY_TYPES.each do |currency|
              %button{ :type => "button",  :class => "btn btn-info btn-radio" }= currency
              = f.radio_button(:currency, currency, :class => "elem-radio", :style => "display:none;")
          = f.text_field :price, :placeholder => "0"
          = error_message_for_service_currency(@service)

      %div{ :class => "control-group#{f.error_message_on(:company_name).present? ? 'error' : ''}" }
        %label.control-label
          Service name
          %i (optional)
        .controls
          = f.text_field :company_name, :class => "span6", :placeholder => "Porshe Auto Service, USA"
          = f.error_message_on(:company_name, :html_tag => "span", :css_class => "help-inline pull-right")

      %div{ :class => "control-group#{f.error_message_on(:description).present? ? ' error' : ''}" }
        = f.label :description, :class => "control-label" do
          Description
          %i (optional)
        .controls
          = f.text_area :description, :class => "span6", :rows => 5, :placeholder => " ..."
          = f.error_message_on(:description, :html_tag => "span", :css_class => "help-inline pull-right")

    .actions
      %button{ :type => "submit", :class => "btn btn-large btn-success btn-block" }
        %i.icon-ok
        SAVE
      = link_to :back, :class => "btn btn-large btn-block" do
        %i.icon-hand-left
        BACK