.subnav.well
  .subnav-inner
    - unless @car.nil?
      = link_to car_path(@car), :class => "sb text embossed", :style => "padding-left:14px;" do
        %i.icon-hand-left
        Back to car
      - if @car.user == current_user
        = link_to new_car_service_path(@car), :class => "sb text embossed light-blue", :style => "padding-left:14px;" do
          %i.icon-wrench
          New Service