%tr
  %td= "#{time_ago_in_words(service.created_at)} ago"
  %td= service.company_name
  %td= "~ #{pluralize(service.price, service.currency)}"
  - if logged_in? && current_user.cars.include?(@car)
    %td
      .pull-right
        = link_to car_service_path(@car, service), :class => "btn btn-small btn-danger pull-right", :method => :delete, "data-confirm" => "Are you sure?" do
          Delete