= render "nav"
#services-container
  %h3= "#{pluralize(@services.count, 'Service')} for #{@car.name}"
  - unless @services.empty?
    .span12
      .pull-right{ :style => "margin-right: 25px;" }
        %strong Convert to:
        .btn-group{ "data-toggle" => "buttons-radio" }
          = link_to reverted_current_currency, "#{car_services_path(@car)}?currency=#{reverted_current_currency}", :class => "btn btn-info btn-radio"
      #annual
      #services-chart{ :data => { :services =>  services_chart_data(@car, current_currency), :currency => current_currency } }
    %table.table.table-stripped
      %thead.well
        %tr
          %th When?
          %th Where?
          %th Total Price
          - if @car.user == current_user
            %th
      %tbody= render @services