.span6.offset3.well
  = form_for @mileage, :url => car_mileages_path(@mileage.car), :method => :post, :class => "form-horizontal" do |f|
    %fieldset
      %legend= "New mileage for #{@mileage.car.name}"

      %div{ :class => "control-group#{error_message_for_mileage(@mileage).present? ? ' error' : ''}" }
        %i= "Current mileage: #{@mileage.car.current_mileage}"
        %br/
        %br/
        %label.control-label New Mileage (unit / value)
        .controls
          .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
            - Mileage::UNIT_TYPES.each do |unit|
              %button{ :type => "button",  :class => "btn btn-info btn-radio" }= unit
              = f.radio_button(:unit, unit, :class => "elem-radio", :style => "display:none;")
          = f.text_field :value, :placeholder => "0"
          -#= f.select :unit, Mileage::UNIT_TYPES
          = error_message_for_mileage(@mileage)

    .actions
      %button{ :type => "submit", :class => "btn btn-large btn-success btn-block" }
        %i.icon-ok
        SAVE
      = link_to :back, :class => "btn btn-large btn-block" do
        %i.icon-hand-left
        BACK