%tr
  %td= "#{time_ago_in_words(mileage.created_at)} ago"
  %td= "~ #{pluralize(mileage.value, mileage.unit)}"
  - if logged_in? && current_user.cars.include?(@car)
    %td
      .pull-right
        = link_to destroy_car_mileages_path(@car, mileage), :class => "btn btn-small btn-danger pull-right", :method => :delete, "data-confirm" => "Are you sure?" do
          Delete