= render "nav"
#mileages-container
  %h3= "#{pluralize(@mileages.count, 'Mileage')} for #{@car.name}"
  - unless @mileages.empty?
    .span12
      .pull-right{ :style => "margin-right: 25px;" }
        %strong Convert to:
        .btn-group{ "data-toggle" => "buttons-radio" }
          = link_to reverted_current_distance, "#{car_mileages_path(@car)}?distance=#{reverted_current_distance}", :class => "btn btn-info btn-radio"
      #annual
      #mileages-chart{ :data => { :mileages =>  mileages_chart_data(@car, current_distance), :unit => current_distance } }
    %table.table.table-stripped
      %thead.well
        %th When added?
        %th Value
        - if @car.user == current_user
          %th
      %tbody= render @mileages