.span6.offset3.well
  = form_for @user, :url => user_path(@user), :method => :put, :class => "form-horizontal" do |f|
    %fieldset
      %legend Account Details
      %div{ :class => "control-group#{f.error_message_on(:username).present? ? ' error' : ''}" }
        = f.label :username, :class => "control-label"
        .controls
          = f.text_field :username, :class => "span6"
          = f.error_message_on(:username, :html_tag => "span", :css_class => "help-inline pull-right")

      %div{ :class => "control-group#{f.error_message_on(:name).present? ? ' error' : ''}" }
        = f.label :name, :class => "control-label"
        .controls
          = f.text_field :name, :class => "span6"
          = f.error_message_on(:name, :html_tag => "span", :css_class => "help-inline pull-right")

      = f.fields_for :setting, @user.setting do |setting|
        %legend Service Settings

        %div.row-fluid{ :class => "control-group" }
          %label.control-label.pull-left
            Default Unit (for fueling)
          .controls.pull-right
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Fuel::UNIT_TYPES.each do |unit|
                %button{ :type => "button",  :class => "btn btn-info btn-radio" }= unit
                = setting.radio_button(:unit, unit, :class => "elem-radio", :style => "display:none;")

        %div.row-fluid{ :class => "control-group" }
          %label.control-label.pull-left
            Default Currency (for fueling and services)
          .controls.pull-right
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Fuel::CURRENCY_TYPES.each do |currency|
                %button{ :type => "button",  :class => "btn btn-info btn-radio" }= currency
                = setting.radio_button(:currency, currency, :class => "elem-radio", :style => "display:none;")

        %div.row-fluid{ :class => "control-group" }
          %label.control-label.pull-left
            Default Mileage Unit (for mileage)
          .controls.pull-right
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Mileage::UNIT_TYPES.each do |distance_unit|
                %button{ :type => "button",  :class => "btn btn-info btn-radio" }= distance_unit
                = setting.radio_button(:distance, distance_unit, :class => "elem-radio", :style => "display:none;")

        %legend Social connections
        - facebook_con = current_user.facebook
        .pull-left
          = link_to facebook_con.nil? ? auth_provider_path(:facebook) : "javascript:void(0)", :class => "sb circle large text embossed facebook#{facebook_con.nil? ? '' : ' gray'}" do
            = facebook_con.nil? ? "Add Facebook" : "Facebook added"
        - twitter_con = current_user.twitter
        .pull-right
          = link_to twitter_con.nil? ? auth_provider_path(:twitter) : "javascript:void(0)", :class => "sb circle large text embossed twitter#{twitter_con.nil? ? '' : ' gray'}" do
            = twitter_con.nil? ? "Add Twitter" : "Twitter added"

        %legend Social settings
        - unless facebook_con.nil?
          %div.row-fluid{ :class => "control-group" }
            %label.control-label.pull-left Will post to Facebook?
            .controls.pull-right
              .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
                - ["YES", "NO"].each do |val|
                  %button{ :type => "button",  :class => "btn btn-info btn-radio" }= val
                  = setting.radio_button(:post_to_facebook, val, :class => "elem-radio", :style => "display:none;")
        - unless twitter_con.nil?
          %div.row-fluid{ :class => "control-group" }
            %label.control-label.pull-left Will post to Twitter?
            .controls.pull-right
              .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
                - ["YES", "NO"].each do |val|
                  %button{ :type => "button",  :class => "btn btn-info btn-radio" }= val
                  = setting.radio_button(:post_to_twitter, val, :class => "elem-radio", :style => "display:none;")
    .actions
      %button{ :type => "submit", :class => "btn btn-large btn-success btn-block" }
        %i.icon-ok
        UPDATE
      = link_to :back, :class => "btn btn-large btn-block" do
        %i.icon-hand-left
        BACK