#s2id_car_year, .car_mileages_attributes {
  width: 150px;
}

#s2id_car_engine_fuel {
  width: 200px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#car_engine_capacity, #car_engine_power, .fuel_unit_value_attribute, .fuel_currency_value_attribute {
  width: 50px;
}

.mileage_unit_value_attribute {
  width: 75px;
}

#car-description {
  font-size: 20px;
}