#brand {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: gray;
  }
}

.user-buttons, .providers {
  margin-top: 4px;
}

form {
  .actions a, .actions button {
    font-weight: bold;
  }
  input[type=text] {
    font-weight: bold;
  }
}

.help-inline {
  margin-top: 2px;
}

#annual {
  width: 800px;
  height:250px;
  margin:20px auto 0 auto;
}