%tr
  %th
    = link_to car.name, car_path(car)
  %th= car.engine
  %td
    .pull-right
      .btn-group
        = link_to new_car_fuel_path(car), :class => "btn btn-small btn-success" do
          New Fueling
        = link_to new_car_service_path(car), :class => "btn btn-small" do
          New Service
        = link_to new_car_mileages_path(car), :class => "btn btn-small btn-success" do
          New Mileage