.span6.offset3.well
  = form_for @car, :class => "form-horizontal" do |f|
    %fieldset
      %legend
        Car Details
        - unless @car.new_record?
          .pull-right
            = link_to "Delete", car_path(@car), :method => :delete, :class => "btn btn-danger btn-small", "data-confirm" => "Are you sure?", :style => "margin-top:-9px;"

      %div{ :class => "control-group#{f.error_message_on(:name).present? ? ' error' : ''}" }
        = f.label :name, :class => "control-label"
        .controls
          = f.text_field :name, :class => "span6", :placeholder => "Porsche Panamera GTS"
          = f.error_message_on(:name, :html_tag => "span", :css_class => "help-inline pull-right")

      %div{ :class => "control-group#{f.error_message_on(:year).present? ? ' error' : ''}" }
        = f.label :year, :class => "control-label"
        .controls
          = select_year(@car.year || Date.today, :start_year => Time.now.year, :end_year => Time.now.year - 60, :field_name => "year", :prefix => "car")
          = f.error_message_on(:year, :html_tag => "span", :css_class => "help-inline")

      %div{ :class => "control-group#{error_message_for_engine(@car).present? ? ' error' : ''}" }
        %label.control-label Engine (capacity / fuel / power)
        .controls
          = f.text_field :engine_capacity, :placeholder => "4.8 V8"
          = f.select :engine_fuel, Car::FUEL_TYPES
          = f.text_field :engine_power, :placeholder => "316 kW"
          = error_message_for_engine(@car)

      %div{ :class => "control-group#{f.error_message_on(:description).present? ? ' error' : ''}" }
        = f.label :description, :class => "control-label" do
          Description
          %i (optional)
        .controls
          = f.text_area :description, :class => "span6", :rows => 5, :placeholder => " ..."
          = f.error_message_on(:description, :html_tag => "span", :css_class => "help-inline pull-right")

      %legend
        Current Mileage
        - if @car.new_record?
          %i (optional)
      - unless @car.new_record?
        .pull-right
          = link_to "New", new_car_mileages_path(@car), :class => "btn btn-small", :style => "margin-top:-9px;"
          - unless @mileage.new_record?
            = link_to "Delete", destroy_car_mileages_path(@car, @mileage), :method => :delete, :class => "btn btn-danger btn-small", "data-confirm" => "Are you sure?", :style => "margin-top:-9px;"
      = f.fields_for :mileages, @mileage do |m|
        %div{ :class => "control-group#{error_message_for_mileage(@mileage).present? ? ' error' : ''}" }
          %label.control-label Current Mileage (unit / value)
          .controls
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Mileage::UNIT_TYPES.each do |unit|
                %button{ :type => "button", :class => "btn btn-info btn-radio", :disabled => @car.new_record? || unit == @mileage.unit ? false : true }= unit
                = m.radio_button(:unit, unit, :class => "elem-radio", :style => "display:none;", :disabled => @car.new_record? ? false : true)
            = m.text_field :value, :placeholder => "0", :class => "mileage_unit_value_attribute", :disabled => @car.new_record? ? false : true

            -#= m.select :unit, Mileage::UNIT_TYPES, {}, { :class => "car_mileages_attributes", :disabled => @car.new_record? ? false : true }
            - if @car.new_record?
              = error_message_for_mileage(@mileage)

      %legend
        Last Fueling
        - if @car.new_record?
          %i (optional)
      - unless @car.new_record?
        .pull-right
          = link_to "New", new_car_fuel_path(@car), :class => "btn btn-small", :style => "margin-top:-9px;"
          - unless @fuel.new_record?
            = link_to "Delete", car_fuel_path(@car, @fuel), :method => :delete, :class => "btn btn-danger btn-small", "data-confirm" => "Are you sure?", :style => "margin-top:-9px;"
      = f.fields_for :fuels, @fuel do |fl|
        %div{ :class => "control-group#{error_message_for_fuel_unit(@fuel).present? ? ' error' : ''}" }
          %label.control-label Fueling (unit / value)
          .controls
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Fuel::UNIT_TYPES.each do |unit|
                %button{ :type => "button",  :class => "btn btn-info btn-radio", :disabled => @car.new_record? || unit == @fuel.unit ? false : true }= unit
                = fl.radio_button(:unit, unit, :class => "elem-radio", :style => "display:none;", :disabled => @car.new_record? ? false : true)
            = fl.text_field :value, :placeholder => "0", :class => "fuel_unit_value_attribute", :disabled => @car.new_record? ? false : true
            - if @car.new_record?
              = error_message_for_fuel_unit(@fuel)

        %div{ :class => "control-group#{error_message_for_fuel_currency(@fuel).present? ? ' error' : ''}" }
          %label.control-label
            = @car.new_record? ? "Price Per Unit" : "Total Price"
            (currency / value)
          .controls
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Fuel::CURRENCY_TYPES.each do |currency|
                %button{ :type => "button",  :class => "btn btn-info btn-radio", :disabled => @car.new_record? || currency == @fuel.currency ? false : true }= currency
                = fl.radio_button(:currency, currency, :class => "elem-radio", :style => "display:none;", :disabled => @car.new_record? ? false : true)
            = fl.text_field (@car.new_record? ? :price_per_unit : :price), :placeholder => "0", :class => "fuel_currency_value_attribute", :disabled => @car.new_record? ? false : true
            - if @car.new_record?
              = error_message_for_fuel_currency(@fuel)

      %legend
        Last Service
        - if @car.new_record?
          %i (optional)
      - unless @car.new_record?
        .pull-right
          = link_to "New", new_car_service_path(@car), :class => "btn btn-small", :style => "margin-top:-9px;"
          - unless @service.new_record?
            = link_to "Delete", car_service_path(@car, @service), :method => :delete, :class => "btn btn-danger btn-small", "data-confirm" => "Are you sure?", :style => "margin-top:-9px;"
      = f.fields_for :services, @service do |sv|
        %div{ :class => "control-group#{error_message_for_service_currency(@service).present? ? ' error' : ''}" }
          %label.control-label Total Price (currency / value)
          .controls
            .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
              - Service::CURRENCY_TYPES.each do |currency|
                %button{ :type => "button",  :class => "btn btn-info btn-radio", :disabled => @car.new_record? || currency == @service.currency ? false : true }= currency
                = sv.radio_button(:currency, currency, :class => "elem-radio", :style => "display:none;", :disabled => @car.new_record? ? false : true)
            = sv.text_field :price, :placeholder => "0", :class => "fuel_currency_value_attribute", :disabled => @car.new_record? ? false : true
            - if @car.new_record?
              = error_message_for_fuel_currency(@service)

        %div{ :class => "control-group#{sv.error_message_on(:company_name).present? ? 'error' : ''}" }
          %label.control-label
            Service name
            %i (optional)
          .controls
            = sv.text_field :company_name, :class => "span6", :placeholder => "Porshe Auto Service, USA", :disabled => @car.new_record? ? false : true
            - if @car.new_record?
              = sv.error_message_on(:company_name, :html_tag => "span", :css_class => "help-inline pull-right")

        %div{ :class => "control-group#{sv.error_message_on(:description).present? ? ' error' : ''}" }
          = sv.label :description, :class => "control-label" do
            Description
            %i (optional)
          .controls
            = sv.text_area :description, :class => "span6", :rows => 5, :placeholder => " ...", :disabled => @car.new_record? ? false : true
            - if @car.new_record?
              = sv.error_message_on(:description, :html_tag => "span", :css_class => "help-inline pull-right")

    .actions
      %button{ :type => "submit", :class => "btn btn-large btn-success btn-block" }
        %i.icon-ok
        = @car.new_record? ? "SAVE" : "UPDATE"
      = link_to :back, :class => "btn btn-large btn-block" do
        %i.icon-hand-left
        BACK