.subnav
  .subnav-inner
    - unless @car.nil?
      = link_to :back, :class => "sb text embossed", :style => "padding-left:14px;" do
        %i.icon-hand-left
        Back
      - if @car.user == current_user
        = link_to edit_car_path(@car), :class => "sb text embossed", :style => "padding-left:14px" do
          %i.icon-pencil
          Edit