#cars-container
  %h3= pluralize(@cars.count, 'Car')
  - unless @cars.empty?
    %table.table.table-stripped
      %thead.well
        %tr
          %th Name
          %th Engine
          %th
      %tbody= render @cars