= render "nav"
#car-container
  .row-fluid
    .pull-right
      .row.well{ :style => "text-align:center;" }
        .row-fluid
          .span4
            %h3= total_fuels(@car, logged_in? ? current_user.setting.unit : Fuel::UNIT_TYPES.first)
          .span4
            %h3= total_services(@car, logged_in? ? current_user.setting.currency : Fuel::CURRENCY_TYPES.first)
          .span4
            %h3= total_mileages(@car, logged_in? ? current_user.setting.distance : Mileage::UNIT_TYPES.first)
        .row-fluid
          .span4
            = link_to car_fuels_path(@car), :class => "sb text embossed", :style => "padding-left:14px;" do
              %i.icon-fire
              = "Fuelings (#{@car.fuels.count})"
          .span4
            = link_to car_services_path(@car), :class => "sb text embossed", :style => "padding-left:14px;" do
              %i.icon-wrench
              = "Services (#{@car.services.count})"
          .span4
            = link_to car_mileages_path(@car), :class => "sb text embossed", :style => "padding-left:14px;" do
              %i.icon-resize-horizontal
              = "Mileages (#{@car.mileages.count})"
        - if @car.user == current_user
          .row-fluid
            .span4
              = link_to new_car_fuel_path(@car), :class => "btn btn-small btn-success" do
                New Fueling
            .span4
              = link_to new_car_service_path(@car), :class => "btn btn-small btn-success" do
                New Service
            .span4
              = link_to new_car_mileages_path(@car), :class => "btn btn-small btn-success" do
                New Mileage
    .pull-left
      %h2= @car.name
      %h4.muted= @car.engine
      %h5.muted= "Last activity about #{time_ago_in_words(@car.updated_at)} ago"
  .row
    #car-description= @car.description
  .row
    .span12
      .pull-right{ :style => "margin-right: 25px;" }
        %strong Convert to:
        .btn-group{ "data-toggle" => "buttons-radio" }
          = link_to reverted_current_currency, "#{car_path(@car)}?currency=#{reverted_current_currency}", :class => "btn btn-info btn-radio"
      #annual
      #car-chart{ :data => { :car =>  car_chart_data(@car, current_currency), :currency => current_currency } }

    %table.table.table-stripped
      %tbody