.span6.offset3.well
  = form_for @fuel, :url => car_fuels_path(@fuel.car), :method => :post, :class => "form-horizontal" do |f|
    %fieldset
      %legend= "New fueling for #{@fuel.car.name}"

      %div{ :class => "control-group#{error_message_for_fuel_unit(@fuel).present? ? ' error' : ''}" }
        %label.control-label Fueling (unit / value)
        .controls
          .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
            - Fuel::UNIT_TYPES.each do |unit|
              %button{ :type => "button",  :class => "btn btn-info" }= unit
              = f.radio_button(:unit, unit, :class => "elem-radio", :style => "display:none;")
          = f.text_field :value, :placeholder => "0"
          = error_message_for_fuel_unit(@fuel)

      %div{ :class => "control-group#{error_message_for_fuel_currency(@fuel).present? ? ' error' : ''}" }
        %label.control-label Price Per Unit (currency / value)
        .controls
          .btn-group{ "data-toggle" => "buttons-radio", :style => "margin-top:-10px;" }
            - Fuel::CURRENCY_TYPES.each do |unit|
              %button{ :type => "button",  :class => "btn btn-info btn-radio" }= unit
              = f.radio_button(:currency, unit, :class => "elem-radio", :style => "display:none;")
          = f.text_field :price_per_unit, :placeholder => "0"
          = error_message_for_fuel_currency(@fuel)

    .actions
      %button{ :type => "submit", :class => "btn btn-large btn-success btn-block" }
        %i.icon-ok
        SAVE
      = link_to :back, :class => "btn btn-large btn-block" do
        %i.icon-hand-left
        BACK