%tr
  %td{ :title => fuel.created_at }= "#{time_ago_in_words(fuel.created_at)} ago"
  %td= "~ #{pluralize(fuel.value, fuel.unit)}"
  %td= "~ #{pluralize(fuel.price, fuel.currency)}"
  - if logged_in? && current_user.cars.include?(@car)
    %td
      .pull-right
        = link_to car_fuel_path(@car, fuel), :class => "btn btn-small btn-danger pull-right", :method => :delete, "data-confirm" => "Are you sure?" do
          Delete