= render "nav"
#fuels-container
  %h3= "#{pluralize(@fuels.count, 'Fueling')} for #{@car.name}"
  - unless @fuels.empty?
    .span12
      .pull-right{ :style => "margin-right: 25px;" }
        %strong Convert to:
        .btn-group{ "data-toggle" => "buttons-radio" }
          = link_to reverted_current_currency, "#{car_fuels_path(@car)}?unit=#{current_unit}&currency=#{reverted_current_currency}", :class => "btn btn-info btn-radio"
          = link_to reverted_current_unit, "#{car_fuels_path(@car)}?unit=#{reverted_current_unit}&currency=#{current_currency}", :class => "btn btn-info btn-radio"
      #annual
      #fuels-chart{ :data => { :fuels =>  fuels_chart_data(@car, current_currency, current_unit), :currency => current_currency, :unit => current_unit } }
    %table.table.table-stripped
      %thead.well
        %tr
          %th When?
          %th Fueling
          %th Total Price
          - if logged_in? && current_user.cars.include?(@car)
            %th
      %tbody= render @fuels